
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Checkout.css">

<div class="row" id="mainBody">
    <div class="col-7 mx-auto" id="Cart">
        <div id="emptyCartData" class=" text-center">
            <img src="~/Images/cart_empty.png" alt="" />
            <h4>YOUR CART IS EMPTY</h4>
            <P>Please add some items from the menu.</P>
            <button class="btn" id="exploreMenu" onclick="location.href='/home/pizzamenu'" type="button">EXPLORE MENU</button>
        </div>
        <div id="cartData" class="py-3">

        </div>
    </div>
    <div class="col-8 p-4" style="display:none">
        <div class="numberOfItems"></div>
        <a href="/home/menu" class="float-right">Explore Menu</a>
        <div class="itemList"></div>
    </div>
    <div class="col-4 p-4">
        <p><b>Price Details</b></p>
        <div id="billAmount" class="px-4 py-3">
            <div class="row">
                <ul class="col-9">
                    <li>Sub Total</li>
                    <li>GST</li>
                    <li>Discount</li>
                    <hr />
                    <li>Grand Total</li>
                </ul>
                <ul class="col-3">
                    <li id="subTotal"></li>
                    <li id="gst"></li>
                    <li id="discount">₹0</li>
                    <hr style="position:relative;left:-30px"/>
                    <li id="grandTotal"></li>

                </ul>
            </div>
            <button class="btn" id="placeOrder">PLACE ORDER</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var token;
            let parts = document.cookie.split("; token=");
            console.log(parts);
                token = parts[0].slice(parts[0].indexOf("token")+7,parts[0].length-1);
                console.log(token);
            $.ajaxSetup({
              headers : {
                    'Authorization': "Bearer " + token
              }
            });
            displayCart();
            addPlaceOrderRequest();
        });

        function displayCart() {
            $.getJSON("https://localhost:44309/api/pizza/GetCart/@User.Identity.Name", function (cartData) {
                emptyContent();
                if ($.isEmptyObject(cartData)) {
                    $("#emptyCartData").show();
                    $("#subTotal").append("₹" + 0);
                    $("#gst").append("₹" + 0);
                    $("#grandTotal").append("₹" + 0);
                    $("#placeOrder").attr("disabled", "");
                    return;
                }
                $("#placeOrder").removeAttr("disabled");
                let content = ``;
                let subTotal = 0;
                for (element in cartData) {
                    subTotal += parseInt(cartData[element].Price.PriceOfProduct * cartData[element].Quantity);
                    content += `<hr/><div class=row><div class="col-3"><img src="${cartData[element].Menu.ImageSrc}">
                    </div><div class="col-9 ml-n4"><div class="float-right text-center"><h5>₹${cartData[element].Price.PriceOfProduct*cartData[element].Quantity}</h5>
                    <div class="Quantity">Quantity  <i class="fas fa-minus-square fa-lg" productid="${cartData[element].ProductId}" menuid="${cartData[element].Menu.MenuId}"></i>
                    ${cartData[element].Quantity}  <i class="fas fa-plus-square fa-lg" productid="${cartData[element].ProductId}" menuid="${cartData[element].Menu.MenuId}"></i></div></div>
                    <h5>${cartData[element].Menu.MenuName}</h5><p>${cartData[element].Price.Size}</p></div></div><hr/>`;
                }
                $("#subTotal").append("₹" + subTotal);
                $("#gst").append("₹" + (subTotal * 0.05).toFixed(2));
                $("#grandTotal").append("₹" + (subTotal + subTotal * 0.05).toFixed(2));
                $("#cartData").append(content);
                addChangeQuantityEvent();
            })
            .fail(function () {
                    location.href = "/account/logout";
                });
        }

        function addChangeQuantityEvent() {
            $(".fa-plus-square").click(function () {
                let productid = $(this).attr("productid");
                let menuid = $(this).attr("menuid");
                $.ajax({
                    url: 'https://localhost:44309/api/Pizza/PostPizza',
                    method: 'Post',
                    data: JSON.stringify({
                        MenuId: menuid,
                        ProductId: productid,
                        OrderedBy:"@User.Identity.Name"

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        displayCart();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $(".fa-minus-square").click(function () {
                let productid = $(this).attr("productid");
                let menuid = $(this).attr("menuid");
                $.ajax({
                    url: 'https://localhost:44309/api/Pizza/DeletePizza',
                    method: 'Delete',
                    data: JSON.stringify({
                        MenuId: menuid,
                        ProductId: productid,
                        OrderedBy:"@User.Identity.Name"

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        displayCart();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                    });
            });
        }

        function emptyContent() {            
            $("#emptyCartData").hide();
            $("#cartData").empty();
            $("#subTotal").empty();
            $("#gst").empty();
            $("#grandTotal").empty();
        }

        function addPlaceOrderRequest() {
            $("#placeOrder").click(function () {
                $.getJSON("https://localhost:44309/api/pizza/GetCart/@User.Identity.Name", function (cartData) {
                    if ($.isEmptyObject(cartData)) {
                        $(this).attr("disabled", "true");
                    }
                    else {
                        console.log("item cart");
                        postCart();
                    }
                });
            });
        }

        function postCart() {
            $.ajax({
                    url: 'https://localhost:44309/api/Pizza/CompleteOrder/@User.Identity.Name',
                    method: 'Post',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        location.href = "/home/OrderCompletion";
                    },
                    error: function (err) {
                        console.log(err);
                    }
                    });

        }
    </script>
}
