
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Checkout.css">

<div class="row" id="mainBody">
    <div class="col-7 mx-auto" id="Cart">
        <div id="emptyCartData" class=" text-center">
            <img src="~/Images/cart_empty.png" alt="" />
            <h4>YOUR CART IS EMPTY</h4>
            <P>Please add some items from the menu.</P>
            <button class="btn" id="exploreMenu" onclick="location.href='/home/pizzamenu'" type="button">EXPLORE MENU</button>
        </div>
        <div id="cartData" class="py-3">

        </div>
    </div>
    <div class="col-8 p-4" style="display:none">
        <div class="numberOfItems"></div>
        <a href="/home/menu" class="float-right">Explore Menu</a>
        <div class="itemList"></div>
    </div>
    <div class="col-4 p-4">
        <p><b>Price Details</b></p>
        <div id="billAmount" class="px-4 py-3">
            <div class="row">
                <ul class="col-9">
                    <li>Sub Total</li>
                    <li>GST</li>
                    <li>Discount</li>
                    <hr />
                    <li>Grand Total</li>
                </ul>
                <ul class="col-3">
                    <li id="subTotal"></li>
                    <li id="gst"></li>
                    <li id="discount">₹0</li>
                    <hr style="position:relative;left:-30px"/>
                    <li id="grandTotal"></li>

                </ul>
            </div>
            <button class="btn" id="placeOrder">PLACE ORDER</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let JSONcart = {};
        let prevData = JSON.parse(localStorage.getItem("cart"));
        if (!$.isEmptyObject(prevData))
            JSONcart = prevData;
        $(document).ready(function () {
            displayCart();
            addPlaceOrderRequest();
        });

        function displayCart(){
            emptyContent();
            if ($.isEmptyObject(JSONcart)) {
                $("#emptyCartData").show();
                $("#subTotal").append("₹"+0);
                $("#gst").append("₹"+0);
                $("#grandTotal").append("₹"+0);
                $("#placeOrder").attr("disabled", "");
                return;
            }
            $("#placeOrder").removeAttr("disabled");
            let content = ``;
            let subTotal = 0;
            for (element in JSONcart) {
                subTotal += parseInt(JSONcart[element].Price);
                content += `<hr/><div class=row><div class="col-3"><img src="${JSONcart[element].ImageSrc}"></div><div class="col-9 ml-n4"><div class="float-right text-center"><h5>₹${JSONcart[element].Price}</h5>
                <div class="Quantity">Quantity  <i class="fas fa-minus-square fa-lg" id="${JSONcart[element].ProductId}"></i>
                ${JSONcart[element].Quantity}  <i class="fas fa-plus-square fa-lg" id="${JSONcart[element].ProductId}"></i></div></div>
                <h5>${JSONcart[element].Name}</h5><p>${JSONcart[element].Size}</p></div></div><hr/>`;
            }
            $("#subTotal").append("₹"+subTotal);
            $("#gst").append("₹"+(subTotal*0.05).toFixed(2));
            $("#grandTotal").append("₹"+(subTotal+subTotal*0.05).toFixed(2));
            $("#cartData").append(content);
            addChangeQuantityEvent();
        }

        function addChangeQuantityEvent() {
            $(".fa-plus-square").click(function () {
                console.log($(this).attr("id"));
                let productid = $(this).attr("id");
                JSONcart[productid]={
                    ...JSONcart[productid],
                    "Price": parseInt(JSONcart[productid].Price) +parseInt(JSONcart[productid].Price / JSONcart[productid].Quantity),
                    "Quantity": JSONcart[productid].Quantity + 1
                };
                console.log(JSONcart);
                localStorage.setItem("cart", JSON.stringify(JSONcart));
                displayCart();
            });

            $(".fa-minus-square").click(function () {
                console.log($(this).attr("id"));
                let productid = $(this).attr("id");
                if (JSONcart[productid].Quantity > 1) {
                    JSONcart[productid] = {
                        ...JSONcart[productid],
                        "Price": parseInt(JSONcart[productid].Price) - parseInt(JSONcart[productid].Price / JSONcart[productid].Quantity),
                        "Quantity": JSONcart[productid].Quantity - 1
                    };
                }
                else {
                    delete JSONcart[productid];
                }
                console.log(JSONcart);
                localStorage.setItem("cart", JSON.stringify(JSONcart));
                displayCart();
            });
        }

        function emptyContent() {            
            $("#emptyCartData").hide();
            $("#cartData").empty();
            $("#subTotal").empty();
            $("#gst").empty();
            $("#grandTotal").empty();
        }

        function addPlaceOrderRequest() {
            $("#placeOrder").click(function () {
                if ($.isEmptyObject(JSONcart)) {
                    $(this).attr("disabled", "true");
                }
                else {
                    console.log("item cart");
                    postCart();
                }
            });
        }

        function postCart() {
            let arrCart = [];
            for (let element in JSONcart) {
                arrCart.push(
                    {
                        "MenuId":parseInt(JSONcart[element].MenuId),
                        "Name": JSONcart[element].Name,
                        "Price":parseInt(JSONcart[element].Price),
                        "Size": JSONcart[element].Size,
                        "Quantity": parseInt(JSONcart[element].Quantity),
                        "Username": JSONcart[element].Username

                    });
            }
            console.log(arrCart);   
             $.ajax({
                url: 'https://localhost:44309/api/Pizza/',
                method: 'Post',
                data: JSON.stringify(arrCart),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.href = "/home/OrderCompletion";
                },
                error: function (err) {
                    alert(err);
                }
            });

        }
    </script>
}
