
@{
    ViewBag.Title = "PizzaMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/PizzaMenu.css">

<div id="topImages" class="my-5">
    <div class="row text-center">
        <div class="ml-auto">
            <img src="~/Content/images/banner.png" height="130" width="500" />
        </div>
        <div class="mr-auto">
            <img src="~/Content/images/bann.png" height="130" />
        </div>
    </div>
</div>

<div class="p-4">

    <div class="col-3" id="cart">
        <div class="card">
            <div id="emptyCart">
                <img src="@Url.Content("~/Content/images/cart.png")" alt="" id="cartImg" class="ml-auto">
                <div class="card-body">
                    <h5 class="text-center mt-5">YOUR CART IS EMPTY</h5>
                    <p class="text-center">Please add some items from the menu.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:green">VEG PIZZAS</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="vegPizzas">


        </div>

    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:red">NON-VEG PIZZAS</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="nonVegPizzas">


        </div>

    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:blue">PIZZA MANIA</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="pizzaMania">


        </div>

    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $.getJSON("https://localhost:44309/api/pizza/getpizzas", function (data) {
                console.log(data);
                let card;
                for (let i in data) {
                    card = `<div class="card col-lg-3 col-md-6 p-0 mx-lg-4 mx-sm-auto mx-md-auto my-3" id ="card-${data[i].MenuId}">
                        <img src="${data[i].ImageSrc}" class="card-img-top" alt="...">
                        <span class="price">₹${data[i].Prices[0].PriceOfProduct}</span>
                        <div class="card-body p-2">
                            <h6 class="mt-n4 pizzaName">${data[i].MenuName}</h6>
                            <p class="card-text"> ${data[i].Description}</p>
                            <hr />
                                <div class="mb-2 text-center">
                                    <small class="card-text">Size</small>
                                    <select>`;
                    for (let j in data[i].Prices) {
                        card += `<option price="${data[i].Prices[j].PriceOfProduct}" size="${data[i].Prices[j].Size}" 
                                value="${data[i].Prices[j].ProductId}">
                                ${data[i].Prices[j].Size} ₹${data[i].Prices[j].PriceOfProduct}</option>`;
                    }
                        card+=      `</select>
                                    <button type="button" class="btn btn-outline-success btn-sm addToCart mt-2"
                                    productid="${data[i].Prices[0].ProductId}" pizzaName="${data[i].MenuName}" 
                                    price="${data[i].Prices[0].PriceOfProduct}" size="${data[i].Prices[0].Size}"
                                    menuid="${data[i].MenuId}"  imgsrc="${data[i].ImageSrc}">ADD TO CART</button>
                                </div>
                        </div>
                    </div>`;
                    if (data[i].Prices.length == 1)
                        $('#pizzaMania').append(card);
                    else if(data[i].Category == "Veg")
                        $("#vegPizzas").append(card);
                    else
                        $("#nonVegPizzas").append(card);
                }
                addToCartEvent();
                changeSizeEvent();
                displayCart();
            });


        });

        function addToCartEvent() {
            $(".addToCart").click(function () {
                let menuid = $(this).attr("menuid");
                let productid = $(this).attr("productid");

                $.ajax({
                    url: 'https://localhost:44309/api/Pizza/PostPizza',
                    method: 'Post',
                    data: JSON.stringify({
                        MenuId: menuid,
                        ProductId: productid,
                        OrderedBy:"@User.Identity.Name"

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        displayCart();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                    });

            });
        }

        function changeSizeEvent() {
            $("select").change(function () {
                let selectedPrice = $(this).find(':selected').attr('price');
                let selectedItem = $(this).find(':selected').attr('value');
                let selectedSize = $(this).find(':selected').attr('size');

                $(this).closest('div').children("button").attr("productid", selectedItem);
                $(this).closest('div').children("button").attr("size", selectedSize);
                $(this).closest('div').children("button").attr("price", selectedPrice);

                selectedPrice = "₹" + selectedPrice;
                $(this).closest('.card').children(".price")[0].innerHTML = selectedPrice;
            });
        }

        function displayCart() {
            $.getJSON("https://localhost:44309/api/pizza/GetCart/@User.Identity.Name", function (cartData) {
                console.log(cartData);
            if ($.isEmptyObject(cartData)) {
                $("#emptyCart").show();
                $("#loadedCart").remove();
                return;
            }
            $("#emptyCart").hide();
            $("#loadedCart").remove();
            let content = `<div  id="loadedCart"><div class ="card-body pb-0">`;
            let subTotal = 0;
            for (let element in cartData) {
                subTotal += parseInt(cartData[element].Price.PriceOfProduct*cartData[element].Quantity);
                content += `<div class="row"><div class="col-3 px-0 pt-2"><img src="${cartData[element].Menu.ImageSrc}"></div><div class="col-9"><h6>${cartData[element].Menu.MenuName}</h6><p class="mb-2">${cartData[element].Price.Size}
                            ₹${cartData[element].Price.PriceOfProduct*cartData[element].Quantity}</p>
                            <div>Quantity<button class="btn btn-danger btn-sm mx-2 remove" productid="${cartData[element].Price.ProductId}" menuid="${cartData[element].MenuId}">
                            <i class="fas fa-trash-alt"></i></button>${cartData[element].Quantity}
                            <button class="btn btn-success btn-sm mx-2 increase" productid="${cartData[element].Price.ProductId}" menuid="${cartData[element].MenuId}">
                            <i class="fas fa-plus"></i></button></div></div></div><hr/>`;
            }
            content += `</div><div><h4 class="px-2 m-0">Subtotal<span class="float-right">₹${subTotal}</span></h4></div>
                        <button class="btn btn-lg btn-success" id="checkoutBtn">Checkout</button></div>`
            $('#cart').find('.card').append(content);
            addIncreaseQuantityEvent();
            addRemoveEvent();
            addCheckoutEvent();
            });
            
        }

        function addCheckoutEvent() {
            $("#checkoutBtn").click(function () {
                location.href = "/home/checkout";
            });
        }

        function addIncreaseQuantityEvent() {
            $(".increase").click(function () {
                let productid = $(this).attr("productid");
                let menuid = $(this).attr("menuid");
                $.ajax({
                    url: 'https://localhost:44309/api/Pizza/PostPizza',
                    method: 'Post',
                    data: JSON.stringify({
                        MenuId: menuid,
                        ProductId: productid,
                        OrderedBy:"@User.Identity.Name"

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        displayCart();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
            
        }

        function addRemoveEvent() {
            $('.remove').click(function () {
                let productid = $(this).attr("productid");
                let menuid = $(this).attr("menuid");
                $.ajax({
                    url: 'https://localhost:44309/api/Pizza/DeletePizza',
                    method: 'Delete',
                    data: JSON.stringify({
                        MenuId: menuid,
                        ProductId: productid,
                        OrderedBy:"@User.Identity.Name"

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        displayCart();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                    });
            });
        }
    </script>
}



