body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #0066a7 !important;
}

    .navbar a {
        color: #ffffff !important;
    }

    .navbar a:hover {
        color: #0badf1 !important;
    }

nav .navbar-nav li a {
    color: white !important;
}

.navbar-text {
    font-size: 80%;
    color: white !important;
}

#navbarLogo {
    position: relative;
    left: 20px;
    bottom: 5px;
}
